<html>

<body bgcolor=#a3cfb4>

    <center>

    {%if data == 0%}
    <h1>You're Extremely Obese !, You must do some exhausted excercises to burn as much caloeries as possible along with eating very less sugar/protien diet. 
    DIET PLAN:
    Choose minimally processed, whole foods-whole grains, vegetables, fruits, nuts, healthful sources of protein (fish, poultry, beans), and plant oils.
    LIMIT sugared beverages, refined grains, potatoes, red and processed meats, and other highly processed foods, such as fast food.
    EXERCISE WORKOUTS:
    Walking. Walking is one of the best exercises for weight loss — and for good reason.
    Jogging or running. Jogging and running are great exercises to help you lose weight. 
    Cycling.
    Weight training.
    Interval training.
    Swimming.
    Yoga.
    Pilates.</h1>

    {%elif data==1 %}
    <h1>You're Healthy! , Try to exercise daily to stay healthy in long run .
    DIET PLAN:
    Eating healthy diet along fruits counld bring even more health plenty of fruit and vegetables.
    plenty of potatoes, bread, rice, pasta and other starchy foods (ideally you should choose wholegrain varieties)
    some milk and dairy foods.
    some meat, fish, eggs, beans and other non-dairy sources of protein.
    just small amounts of food and drinks that are high in fat and sugar.
    EXERCISE WORKOUTS:    
    Walking.
    Jogging or running. 
    Cycling. 
    Swimming. 
    Yoga.</h1>

    {%elif data==2 %}
    <h1>You're Obese !,
    DIET PLAN:
    Try some low caleory diet and avoid over-eating or snacks, less sugar, burn as much caleories as possible.
    Choose minimally processed, whole foods-whole grains, vegetables, fruits, nuts, healthful sources of protein (fish, poultry, beans), and plant oils. 
    LIMIT sugared beverages, refined grains, potatoes, red and processed meats, and other highly processed foods, such as fast food.
    EXERCISE WORKOUTS:
    Walking. Walking is one of the best exercises for weight loss — and for good reason.
    Jogging or running. Jogging and running are great exercises to help you lose weight. 
    Cycling. 
    Weight training. 
    Interval training.
    Swimming. 
    Yoga. 
    Pilates.</h1>

    {%elif data==3 %}
    <h1>You're Overweight !,
    DIET PLAN:
    Try some normal diet less sugar .
    Choose minimally processed, whole foods-whole grains, vegetables, fruits, nuts, healthful sources of protein (fish, poultry, beans), and plant oils.
    LIMIT sugared beverages, refined grains, potatoes, red and processed meats, and other highly processed foods, such as fast food.
    EXERCISE WORKOUTS:  
    Walking. Walking is one of the best exercises for weight loss — and for good reason. 
    Jogging or running. Jogging and running are great exercises to help you lose weight. 
    Cycling. 
    Weight training.</h1>

    {%elif data==4 %}
    <h1>You're Underweight! ,
    DIET PLAN:
    Please eat some protien rich diet. Plenty of fruit and vegetables.
    Plenty of potatoes, bread, rice, pasta and other starchy foods (ideally you should choose wholegrain varieties)
    Some milk and dairy foods.
    Some meat, fish, eggs, beans and other non-dairy sources of protein.
    Just small amounts of food and drinks that are high in fat and sugar.
    EXERCISE WORKOUTS:
    Walking.
    Swimming. 
    Yoga.</h1>

    {% endif %}
        <br><br>
        <a href='/'>go back to home page</a> 
    </center>

</body>

</html>
